@font-face{                                                     font-family:"Noto Sans KR";                             src:url("../fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

.background{
	background-color:#ffffff00;
	color:black;
	line-height:50%;
	font-family:"Noto Sans KR";
	padding:8px;
	padding-top:60px;
}
